@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(172, 172, 53);
}

.cc{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 80vh;
    margin: 5rem auto;
    border: 2px solid black;
    border-radius: 1rem;
}
.selectContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.selectContainer img{
    height: 5rem;
    margin-right: 1rem;
}
.selectContainer>.selectFrom,.selectTo{
    /* background-color: rgba(21, 255, 0, 0.842); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    border: 2px solid rgb(83, 80, 255);
    border-radius: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  button:hover {
    background-color: #45a049;
  }
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}  